{{define "users/index.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/xxx/css/index.css">
    <title>users/index</title>
</head>
<body>
   {{.title| safe}} 

   <script src="/xxx/js/index.js"></script>
</body>
</html>
{{end}}